h1 {
	font-size:24px;
	margin-top:24px;
}

table, th, tr, td {
	border: 1px solid black;
}

th {
	padding : 12px 20px;
	font-size: 18px;
}

td {
	padding: 8px 12px;
	font-size:16px;
}

.posValue{
	color:green;
	align:right;
}

.negValue{
	color:red;
	align:left;
}

.bold{
	font-weight:bold;
}